<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Name>Koha OPAC Search</Name>
	<Author>Robert T. Wilson</Author>
	<Version>1.0</Version>
	<Active>True</Active>
	<Type>Addon</Type>
	<Description>Performs a search using a request title, article title, isxn or oclc number.</Description>
	<Forms>
		<Form>FormRequest</Form>
	</Forms>
	<Settings>
		<Setting name="AutoSearch" value="true" type="boolean">
			<Description>Defines if the search should be automatically performed when the form opens.</Description>
		</Setting>
		<Setting name="KohaOPACURL" value="" type="string">
			<Description>The URL for Koha. Do not include a trailing slash. ex: bridgew.bywatersolutions.com</Description>
		</Setting>
		<Setting name="SearchPriority" value="title,isxn,oclc,articletitle" type="string">
			<Description>Defines what order priority should be used when attempting to find a field to search by when using the auto search feature. Allowed fields are title, articletitle, isxn, and oclc.</Description>
		</Setting>
	</Settings>
	<Files>
		<File>koha.lua</File>
	</Files>
</Configuration>
